 body{
    background-color:white;
    height: auto;
    width: auto; 
  
    display:grid;
    grid-template-areas:
    'header'
    'main_author'
    'footer';
    grid-template-columns: 1fr; 
    grid-template-rows:0.2fr 1fr 60px;
    grid-column-gap:0px;
    grid-row-gap:0px;
}
     