    .button {
        background-color:transparent;
        border:none;    
        text-decoration:none;
        width:200px;
        height:50px;
        border-radius: 15px;;
        color:white;
        font-size: 30px;
        transition:background-color 1s;
    }

    .button:hover{
        background-color:whitesmoke;
        text-decoration:none;
        color:#252525;
    } 

    .back_button {
        background-color:transparent;
        border:none;    
        text-decoration:none;
        border-radius: 8000px;;
        transition:background-color 1s;
    }

    .back_button:hover{
        color:white;
        text-decoration:none;
        background-color:white;  
    } 



    /* AUTHOR CLASSES */
    .text_author{
        color:whitesmoke;
        font-size: 42px;
    }